<!doctype html>
<html lang="en">

<head>
    <title>登录</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="#" rel="shortcut icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="height: 200px"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <h6 class="text-center"><b>用户登录</b></h6>
                <form id="form" action="javascript:alert( 'success!' );">
                    <div class="form-group">
                        <label for="exampleInputEmail1">学号</label>
                        <input type="text" class="form-control" id="userId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary justify-content-md-center">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        
</body>

<script>
    // 使用jQuery实现post等功能
    $(function () {
        $("#form").submit(event => {
            event.preventDefault()
            const userId = $('#userId').val()
            const password = $('#password').val()

            if (userId === '') {
                alert('学号不可以为空！')
                return
            }

            if (password === '') {
                alert('密码不可以为空！')
                return
            }

            $.post(
                '/api/login',
                {
                    user: userId,
                    password: password
                },
                data => {
                    console.log(data)
                    const res = data.res
                    // 验证成功，登录考试系统
                    if (res === 0) {
                        pageJump()
                        return
                    }
                    // 需要更改密码 
                    if (res === 1) {
                        sessionStorage.setItem('userId', userId)
                        sessionStorage.setItem('password', password)
                        alert(data.msg)
                        window.location = '/passchange'
                        return
                    }
                    // 验证失败
                    if (res === -1) {
                        alert(data.msg)
                        return
                    }
                }
            )
        })
        function pageJump() {
            $.post(
                '/api/uinfo', 
                data => {
                    if (data.res === 0) {
                        // 监考端跳转
                        if (data.data.level == 1) {
                            window.location = '/remote'
                        } else {
                            window.location = '/index'
                        }
                    } else if (data.res === 1) {
                        // 此处逻辑有点重复，但不影响
                        window.location = '/passchange'
                    } else {
                        window.location = '/login'
                    }
                }
            )
        }

    });
</script>

</html>